*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/.idea/.name
/.idea/gradle.xml
/obj/local/arm64-v8a/objs/JNIDemo/jniDemo.o
/obj/local/armeabi-v7a/objs/JNIDemo/jniDemo.o
/obj/local/x86/objs/JNIDemo/jniDemo.o
/obj/local/x86_64/objs/JNIDemo/jniDemo.o
/obj/local/arm64-v8a/objs/JNIDemo/jniDemo.o.d
/obj/local/armeabi-v7a/objs/JNIDemo/jniDemo.o.d
/obj/local/x86/objs/JNIDemo/jniDemo.o.d
/obj/local/x86_64/objs/JNIDemo/jniDemo.o.d
/app/src/main/jniLibs/x86/libJNIDemo.so
/app/obj/x86_64/libJNIDemo.so
/app/obj/x86/libJNIDemo.so
/obj/local/x86_64/libJNIDemo.so
/obj/local/x86/libJNIDemo.so
/app/src/main/jniLibs/x86_64/libJNIDemo.so
/libs/x86_64/libJNIDemo.so
/libs/x86/libJNIDemo.so
/.idea/misc.xml
/.idea/codeStyles/Project.xml
/.idea/runConfigurations.xml
/.idea/vcs.xml
/app/src/androidTest/java/com/example/jnidemo/ExampleInstrumentedTest.java
/app/src/test/java/com/example/jnidemo/ExampleUnitTest.java
